body {
    padding-top: 60px;
    position: relative;
    min-width: 480px;
}
/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    body {
        padding-top: 60px;
    }
}
/* Desktop
------------------------- */
@media (max-width: 980px) {
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}
/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }
}
input.keyPress {
    paggin-bottom:0px;
    margin-bottom:0px;
}
input.keyPress {
    text-align:right;
}
.MultiFile-label {
    padding-left:10px;
    padding-top:10px;
}
#imagesUploaded div {
    width:200px;
    height:175px;
    float:left;
    clear: right;
    margin:10px;
    padding:10px;
    border:1px solid #CCC;
}
#imagesUploaded img {
    width:200px;
    height:150px;    
}